* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}

#nav {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
#nav a {
  margin-right: 20px;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  list-style-type: none;
}

a:link, a:visited {
  text-decoration: none;
  color: black
}
a:hover {
  text-decoration: underline;
}

h1 {
display: flex;
justify-content: center;
background-color: blanchedalmond;
padding: 5em;
}

.search-field {
display: flex;
justify-content: center;
align-items: center;
margin: 50px auto;
border-radius: 18%;

}


