* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

body { 
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header*/
header {
  height: 60px;
}

.nav {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

.nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.nav ul li {
  margin-left: 15px;
}

.circle-shadow {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.circle-shadow:hover {
  background-color: lightgrey
}

.app-img,
.user-icon span {
  font-size: 18px;
}

.user-icon {
 background-color: rgb(101, 101, 185);
 height: 50px;
 width: 50px;
 border-radius: 50%;
 text-align: center;
}

.app-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: auto;
}

/*Content*/
section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
}

.search-field {
  border: 1px solid rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 600px;
  height: 45px;
  border-radius: 30px;
}

.search-field:hover {
  /*
  box-shadow: 0px 0px 10px 0px rgba(211, 211, 211, 0.348);*/
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.096);
}

.search-field i {
  font-size: 18px;
  color: grey;
  cursor: pointer;
}

.search-bar {
  flex-grow: 1;
  height: 30px;
  font-size: 16px;
  border: none;
}

.buttons {
  margin-top: 20px;
}

.button {
height: 40px;
font-size: 14px;
border: none;
border-radius: 5px;
margin-left: 10px;
color: black;
background-color: #f2f3f4;
width: 120px;
}

.button:hover {
  border: 1px solid #f2f3f43e;
  cursor: pointer;
  box-shadow: 0 0 5px #f2f3f43e;
}

.languages {
  margin-top: 15px;
  font-size: 14px;
}
.footer-content {
  display: flex;
  background-color: rgba(211, 211, 211, 0.307)
}
.upper-footer{
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.lower-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.734);
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  
}
.left-footer{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.right-footer{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
